@inherits LayoutComponentBase

<MudThemingProvider @rendermode=@(new InteractiveWebAssemblyRenderMode(prerender: false)) />
<MudPopoverProvider @rendermode=@(new InteractiveWebAssemblyRenderMode(prerender: false)) />
<MudDialogProvider @rendermode=@(new InteractiveWebAssemblyRenderMode(prerender: false)) />
<MudSnackbarProvider @rendermode=@(new InteractiveWebAssemblyRenderMode(prerender: false)) />

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>